<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== REMIXICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/css/sidebar.css') }}">

        <title>Welcome!</title>
    </head>
    <body style="background-color:#EFA554;">
        <nav class="nav">
            <ul class="nav__list">
                <a href="{{ url_for('welcome') }}" class="nav__link">
                    <i class="ri-home-7-line"></i>
                    <span class="nav__name">Home</span>
                </a> 

                <a href="{{ url_for('behavior') }}" class="nav__link">
                    <i class="ri-record-circle-line"></i>
                    <span class="nav__name">Behavior</span>
                </a>  

                <a href="{{ url_for('breed') }}" class="nav__link">
                    <i class="ri-record-circle-fill"></i>
                    <span class="nav__name">Breed</span>
                </a> 

                <a href="{{ url_for('gallery') }}" class="nav__link">
                    <i class="ri-gallery-fill"></i>
                    <span class="nav__name">Gallery</span>
                </a> 

                <a href="{{ url_for('about') }}" class="nav__link">
                    <i class="ri-information-line"></i>
                    <span class="nav__name">About</span>
                </a> 
            </ul>

            <!--shapes-->
            <div class="nav__circle-1"></div>
            <div class="nav__circle-2"></div>

            <div class="nav__square-1"></div>
            <div class="nav__square-2"></div>


        </nav>
        
        <main>
        
        </main>

        <!--=============== MAIN JS ===============-->
        <script src="{{ url_for('static', filename='stylesheet/js/sidebar.js') }}"></script>
    </body>
</html>